
h1{
	text-align: center;
}

table{
	margin: auto;
}

td{
	padding: 50px;
	border: solid;
	border-color: black;
	border-width: 0px;
}

tr.middle td{
	border-top-width: 1px;
	border-bottom-width: 1px;
}

td.middle{
	border-left-width: 1px;
	border-right-width: 1px;
}
